[submodule "template/node-server"]
	path = template/node-server
	url = https://github.com/vhc1946/node-server.git
[submodule "repos/electronrepo"]
	path = repos/electronrepo
	url = https://github.com/vhc1946/electronrepo.git
[submodule "bench/bin/electronrepo"]
	path = bench/bin/electronrepo
	url = https://github.com/vhc1946/electronrepo.git
[submodule "template/VA-electrontemplate"]
	path = template/VA-electrontemplate
	url = https://github.com/vhc1946/VA-electrontemplate.git
[submodule "repos/webrepo"]
	path = repos/webrepo
	url = https://github.com/Vogel-Heating-Cooling/webrepo
