[submodule "repos/electronrepo"]
	path = repos/electronrepo
	url = https://github.com/vhc1946/electronrepo.git
[submodule "repos/webrepo"]
	path = repos/webrepo
	url = https://github.com/Vogel-Heating-Cooling/webrepo
[submodule "bench"]
	path = bench
	url = https://github.com/vhc1946/bench.git
[submodule "vapi/core"]
	path = vapi/core
	url = https://github.com/vhc1946/VAPI-CORE.git
